<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/yo.jpg" class="img-fluid">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p>María Isabel Fornés Montalban</p> 
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md 8 col-lg-8">
    <span>
        <h1>Acerca de míLorem ipsum dolor sit, amet consectetur adipisicing elit. Atque voluptatibus animi possimus esse corrupti eos sapiente consectetur distinctio veniam similique quibusdam numquam, voluptatem adipisci error enim deleniti, porro facilis? Non.</h1>
        <p></p>
    </span>
</div>
</div>
