<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/yo.jpg" class="img-fluid" id="fotoperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">María Isabel Fornés Montalban</p> 
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md 8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Doble nacionalidad: Argentina - Española

            Backend developer
            JavaScrip 
            Typscrip
            Ruby 
            Python 
            Django 
            HTML 5 
            CSS 
            C# 
            Bootstrap
            Git/Git Hub
            Java
            Node Js
            TypeScrypt
            Angular
            MySQL
            DOM
            Idiomas:
            Español (nativo)
            Inglés (básico)</p>
    </span>
</div>
</div>
