<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
        <h1>Argentina Programa</h1><h3>2021-2022</h3>
    </li>
    <p>Desarrollador full stack jr.</p>
</ul><ul>
    <li>
        <h1>poloTic misiones</h1><h3>2021-2021</h3>
    </li>
    <p>Conocimientos básicos para crear páginas web.</p>
</ul>
<ul>
    <li>
        <h1>Loopian</h1><h3>2017-2017</h3>
    </li>
    <p>Auxiliar Administrativa Bancaria.</p>
</ul>
<ul>
    <li>
        <h1>CEICOS</h1><h3>2007-2007</h3>
    </li>
    <p>Tecnicatura de Asistente Ejecutivo Gerencial.</p>
</ul>
<ul>
    <li>
        <h1>CEICOS</h1><h3>2006-2006</h3>
    </li>
    <p>Administrativa de RRHH.</p>
</ul>
    </div>
    
</div>
