<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
        <h1>Full Stack Developer Jr</h1> - <h3>2021-2022</h3>
    </li>
    <p>Desarrollo de páginas web.</p>
</ul><ul>
    <li>
        <h1>Administrativa</h1><h3>2009-2021</h3>
    </li>
    <p>Contratos. Timbrados. Gestion contable.</p>
</ul>
<ul>
    <li>
        <h1>Secretaria personal</h1><h3>2010-2021</h3>
    </li>
    <p>Secretaria Perito medico judicial. Elaboracion y presentacion de escritos ante el TSJ. 
        Cobranza de honorarios. Retiro y devolucion de expedientes. Manejo de agenda.</p>
</ul>
<ul>
    <li>
        <h1>Gerente RRHH El Sensor Seguridad S.A.</h1><h3>2006-2007</h3>
    </li>
    <p>Encargada del departamento de RRHH y Secretaria Personal del Presidente.
        Reclutamiento. Legajos. Administracion. Agendas. Liquidaciones varias.</p>
</ul>
<ul>
    <li>
        <h1>Call Center Jazzplat Telemarketer</h1><h3>2005-2006</h3>
    </li>
    <p>Venta y Atención al Cliente para la cuenta Jazztel. Colaboradora en capacitaciones.</p>
</ul>
    </div>
    
</div>
